@font-face {
    font-family: Poppins;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@import "tailwindcss";

@theme{
    --color-primaryblue: #2f88ff;
    --color-primaryred: #ee1b1b;
    --color-primaryhgreen: #90f230;
    --color-neutral: #a3aab5;
    --font-poppins: Poppins, "sans-serif";
}
